table {
  color: #333 !important;

  thead {
    th {
      color: #333 !important;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: white;
        cursor: pointer;
        transition: all 0.25s ease-out
      }
    }
  }
}
