table {
  color: #333 !important;

  thead {
    th {
      color: #333 !important;
    }
  }

  tbody {
    tr {
      transition: all 0.25s ease-out;

      &:hover {
        background-color: white;
        cursor: pointer;
      }
    }
  }
}

.form-group {
  margin: 1rem;
}
