<loader *ngIf="isLoading"></loader>

<div *ngIf="!isLoading">
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let employee of employees | async; let i = index; trackBy: trackByEmployeeId"
        [routerLink]="['/employees', employee.id]">
        <th scope="row">{{employee.id}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.salary}}</td>
      </tr>
    </tbody>
  </table>
</div>

