<loader *ngIf="!(employees | async)"></loader>

<div >
  <div>
    <fieldset class="form-group">
      <div [ngModel]="currentType" ngbRadioGroup name="radioBasic" class="radio-group">
        <label class="btn btn-primary">
          <input (click)="onTypeChange('ALL')" type="radio" value="ALL" name="type">All
        </label>
        <label class="btn btn-primary">
          <input (click)="onTypeChange('A')" type="radio" value="A" name="type">Type A
        </label>
        <label class="btn btn-primary">
          <input (click)="onTypeChange('B')" type="radio" value="B" name="type">Type B
        </label>
        <label class="btn btn-primary">
          <input (click)="onTypeChange('C')" type="radio" value="C" name="type">Type C
        </label>
      </div>
    </fieldset>
  </div>

  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let employee of employees | async; let i = index; trackBy: trackByEmployeeId"
        [routerLink]="['/employees', employee.id]">
        <th scope="row">{{employee.id}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.salary | money}}</td>
      </tr>
    </tbody>
  </table>
</div>

