// styles in src/style directory are applied to the whole page
html * {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F5F5F5;
}

a {
  color: #333;

  &:active,
  &:visited {
    color: #333;
  }

  &:hover {
    color: #EFC849;
    transition: all 0.25s ease-out
  }
}

.btn-primary {
  background-color: #EFC849 !important;
  border-color: #EFC849 !important;

  &:hover {
    border-color: #EFC849 !important;
    background-color: darken(#EFC849, 10%) !important;
  }
}
