@import "~font-awesome/css/font-awesome.css";

html * {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F5F5F5;
}

a {
  color: #333;
  transition: all 0.25s ease-out;

  &:active,
  &:visited {
    color: #333;
  }

  &:hover {
    color: #2DB6C0;
  }
}

button,
input {
  border-radius: 0 !important;
}

.btn-primary {
  border-radius: 0 !important;
  background-color: #333 !important;
  border-color: #333 !important;
  transition: all 0.25s ease-out;

  &:hover {
    border-color: #2DB6C0 !important;
    background-color: #2DB6C0 !important;
  }
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.radio-group {
  label.active {
    border-color: #2DB6C0 !important;
    background-color: #2DB6C0 !important;
  }
}
