:host {
  display: block;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  margin-top: -70px;
  background-image: url("/img/home-background.jpg");
}

div {
  padding-top: 45vh;
}

h1 {
  text-align: center;
  background-color: rgba(45, 182, 192, 0.8);
  color: white;
  padding: 3rem;
  text-transform: uppercase;
}
